doctype html
html(lang="en")
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    link(rel='icon' href=require('./assets/images/rss.png') type='image/png')
    title Menu Page
  body
    include components/headerPage
    include components/menu
    include components/footer