//- ABOUT SECTION
section.container
    .about#about
        h2.about-title Resource is <span class="about-active">the perfect and cozy place</span> where you can enjoy a variety of hot beverages, relax, catch up with friends, or get some work done.
        .about-gallery 
            .about-box 
                .about-image.about-large 
                    img.about-img(src=require("../assets/images/about/about-1.jpg"), alt="about-1")
                .about-image.about-small 
                    img.about-img(src=require("../assets/images/about/about-2.jpg"), alt="about-3")
            .about-box 
                .about-image.about-small
                    img.about-img(src=require("../assets/images/about/about-3.jpg"), alt="about-2")
                .about-image.about-large
                    img.about-img(src=require("../assets/images/about/about-4.jpg"), alt="about-4") 